<a href="https://colab.research.google.com/github/PUJUNE/prac-python/blob/main/01_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
import pandas as pd

In [5]:
#시리즈, 정수 실수 문자열 etc

##시리즈 객체생성

temp = pd.Series([-20, -10, 10, 20])
# print(temp)
temp

0   -20
1   -10
2    10
3    20
dtype: int64

In [6]:
temp[0]

-20

In [8]:
temp[3]

20

시리즈 객체 생성

In [11]:
 temp = pd.Series([-20, -10, 10, 20], index=['jan', 'fab', 'mar', 'apr'])
 temp

jan   -20
fab   -10
mar    10
apr    20
dtype: int64

In [26]:
temp['mar'] #3월 데이터 출력

10

In [25]:
temp['jan'] #1월 데이터 출력

-20

In [83]:
dftemp = pd.DataFrame(temp)
temp['jan']

-20

데이터 프레임 - 2차원 데이터 다룰 수 있음

dic(사전)구조를 통해 생성

In [45]:
data = {
    '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
    '학교' : ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
    '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}

data['SW특기']

['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']

객체 생성

In [47]:
import pandas as np

In [49]:
df = pd.DataFrame(data)

In [50]:
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80
4  강백호  북산고  188   15   20   10  35  10
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [51]:
df['이름']

0    채치수
1    정대만
2    송태섭
3    서태웅
4    강백호
5    변덕규
6    황태산
7    윤대협
Name: 이름, dtype: object

In [52]:
df['키']

0    197
1    184
2    168
3    187
4    188
5    202
6    188
7    190
Name: 키, dtype: int64

In [56]:
df[['이름','SW특기','키', '수학']]

    이름        SW특기    키   수학
0  채치수      Python  197  100
1  정대만        Java  184   50
2  송태섭  Javascript  168   70
3  서태웅              187   70
4  강백호              188   10
5  변덕규           C  202   95
6  황태산      PYTHON  188   45
7  윤대협          C#  190   90

데이터 프레임 객체 생성에 인덱스 지정

In [73]:
df = pd.DataFrame(data, index =['1번', '2번', '3번', '4번', '5번', '6번', '7번', '번8'])

In [74]:
df

     이름   학교    키   국어   영어   수학  과학  사회        SW특기
1번  채치수  북산고  197   90   85  100  95  85      Python
2번  정대만  북산고  184   40   35   50  55  25        Java
3번  송태섭  북산고  168   80   75   70  80  75  Javascript
4번  서태웅  북산고  187   40   60   70  75  80
5번  강백호  북산고  188   15   20   10  35  10
6번  변덕규  능남고  202   80  100   95  85  80           C
7번  황태산  능남고  188   55   65   45  40  35      PYTHON
번8  윤대협  능남고  190  100   85   90  95  95          C#

In [87]:
df['이름']

1번    채치수
2번    정대만
3번    송태섭
4번    서태웅
5번    강백호
6번    변덕규
7번    황태산
번8    윤대협
Name: 이름, dtype: object

In [85]:
data['과학']

[95, 55, 80, 75, 35, 85, 40, 95]

특정 컬럼만 지정하여 할당

In [93]:
df3 = pd.DataFrame(data, columns = ['이름', '학교', 'SW특기'])
df3

    이름   학교        SW특기
0  채치수  북산고      Python
1  정대만  북산고        Java
2  송태섭  북산고  Javascript
3  서태웅  북산고
4  강백호  북산고
5  변덕규  능남고           C
6  황태산  능남고      PYTHON
7  윤대협  능남고          C#

In [95]:
df4 = pd.DataFrame(data, columns = ['이름','SW특기', '학교'])
df4

    이름        SW특기   학교
0  채치수      Python  북산고
1  정대만        Java  북산고
2  송태섭  Javascript  북산고
3  서태웅              북산고
4  강백호              북산고
5  변덕규           C  능남고
6  황태산      PYTHON  능남고
7  윤대협          C#  능남고